@font-face {
  font-family: 'Exo';
  src: url('@/assets/fonts/exo/Exo-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('@/assets/fonts/exo/Exo-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('@/assets/fonts/exo/Exo-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsPro';
  src: url('@/assets/fonts/exo/Exo-Light.ttf');
  font-weight: 300;
}
